.pagination {
  display: flex;
  padding-top: 5px;
  gap: 5px;
}

.page-counter {
  background-color: #fff;
  border: none;
  border-radius: 2px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #000000;
  font-size: 1rem;
  padding: 0.375rem 0.75rem;
}
