.list {
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: auto;
  gap: 5px;
  padding: 5px 0;
}

.loading,
.no-data {
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: #f8b600;
}
